<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

  <link rel="icon" type="image/x-icon" href="/images/favicon-16x16.png">
  <link rel="icon" type="image/x-icon" href="/images/favicon-32x32.png">
  <title><%= title %></title>
</head>
<body id="bb">
<div id="container">
  <nav class="navbar navbar-expand-lg bg-light bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color:rgb(201, 18, 73)">DSE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user#">Home</a>
          </li>
        </ul>
        <form action="/logout" method="post" class="d-flex">
            <button style="margin-right: 1rem;" class="btn btn-outline-primary" type="submit">Log Out</button>
        </form>
      </div>
    </div>
  </nav>
  <h1 style="margin-top: 2rem;" class="text-light">USER EVENTS</h1>
  <div style="display: flex; justify-content: center; align-items: center;">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success mt-4 mb-5" data-bs-toggle="modal" data-bs-target="#create_event">
      CREATE NEW EVENT
    </button>
  </div>
  <div style="margin-bottom: 10rem;" class="container-md">
    <table style="cursor: pointer; text-align: center;" class="table table-responsive table-hover table-bordered align-middle bg-light">
      <thead>
        <tr>
          <th>#</th>
          <th>TITLE</th>
          <th>DATE</th>
          <th>TIME</th>
          <th>LOCATION</th>
          <th>TYPE</th>
          <th>NUMBER OF SEATS</th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody style="text-align: center">
        <% for(let i = 0; i < events_details.length; i++) { %>
          <tr>
            <td><%= i+1 %>.</td>
            <td><%= events_details[i].title %></td>
            <td><%= moment(events_details[i].date).format('DD-MMM-YYYY') %></td>
            <td><%= moment(events_details[i].time, 'hh:mm:ss').format('hh:mm a') %></td>
            <td><%= events_details[i].place %></td>
            <td><%= events_details[i].type %></td>
            <td><%= events_details[i].number_of_seats %></td>
            <td><a href="/user/event/<%= events_details[i].id %>"><button class="btn btn-info">DETAILS</button></a></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div id="clear"></div>
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-muted">© 2023 DSE</span>
    </div>
  </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>

<!-- Modal -->
<div class="modal fade" id="create_event" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">CREATE NEW EVENT</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/user/create_event" method="post">
          <div class="mb-3">
            <label for="title" class="form-label">TITLE</label>
            <input type="text" name="title" class="form-control" id="title" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="date" class="form-label">DATE</label>
            <input type="date" name="date" class="form-control" id="date" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="time" class="form-label">TIME</label>
            <input type="time" name="time" class="form-control" id="time" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="text" class="form-label">DESCRIPTION</label>
            <input type="text" name="text" class="form-control" id="text" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">LOCATION</label>
            <select name="location" id="location" class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="Prirodno-matematički fakultet">Prirodno-matematički fakultet</option>
              <option value="Vijećnica">Vijećnica</option>
              <option value="Dom mladih Skenderija">Dom mladih Skenderija</option>
              <option value="Olimpijska dvorana Zetra">Olimpijska dvorana Zetra</option>
              <option value="Narodno pozorište">Narodno pozorište</option>
              <option value="Vječna vatra">Vječna vatra</option>
              <option value="ARIA">ARIA</option>
              <option value="Hotel Europe">Hotel Europe</option>
              <option value="Hotel Holiday">Hotel Holiday</option>
              <option value="Avaz Twist Tower">Avaz Twist Tower</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="type" class="form-label">TYPE</label><div class="dropdown">
              <select name="type" id="type" class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="Music">Music</option>
                <option value="Sport">Sport</option>
                <option value="Culture">Culture</option>
                <option value="Theater">Theater</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="num_of_seat" class="form-label">NUMBER OF SEATS</label>
            <input type="number" class="form-control" id="num_of_seats" name="num_of_seats" aria-describedby="emailHelp">
          </div>
          <button type="submit" class="btn btn-success">CREATE</button>
        </form>
      </div>
    </div>
  </div>
</div>